tdm-be/node_modules/
tdm-be/dist/*
tdm-fe/dist/*
tdm-fe/node_modules/
tdm-fe/.stylelintcache
tdm-admin/dist/*
tdm-admin/node_modules/
tdm-admin/.stylelintcache
.gitlab-ci.yml
helm/*
tdm-be/environment-recette.ts
.idea
tdm-be/uploads/*
tdm-be/dynamic-config.json
tdm-be/factory.db
tdm-be/logs/*
tdm-be/crash/*
tdm-be/public/*
tdm-be/tmp/*
