tdm-be/node_modules/
tdm-be/dist/
tdm-fe/node_modules/
tdm-fe/.next/
.gitlab-ci.yml
helm/*
tdm-be/environment-recette.ts
.idea
tdm-be/uploads/*
tdm-be/dynamic-config.json
tdm-be/factory.db
tdm-be/logs/*
tdm-be/public/*
tdm-be/tmp/*
