tdm-backend/node_modules/
tdm-backend/dist/*
tdm-frontend/dist/*
tdm-frontend/node_modules/
tdm-frontend/.stylelintcache
.gitlab-ci.yml
helm/*
tdm-backend/environment-recette.ts
.idea
tdm-backend/uploads/*
tdm-backend/dynamic-config.json
tdm-backend/factory.db
tdm-backend/logs/*
tdm-backend/crash/*
tdm-backend/public/*
tdm-backend/tmp/*
tdm-types/node_modules/*
