services:
  tdm-factory-backend:
    container_name: tdm-factory-dev-backend
    image: node:20.19.5-bullseye-slim
    environment:
      NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - ./tdm-be:/app
    working_dir: /app
    command: npm run dev
    networks:
      - tdm-factory-network

  tdm-factory-frontend:
    container_name: tdm-factory-dev-frontend
    image: node:20.19.5-bullseye-slim
    environment:
      NODE_ENV: development
    ports:
      - "5173:5173"
    volumes:
      - ./tdm-fe:/app
    working_dir: /app
    command: npm run dev
    networks:
      - tdm-factory-network

  tdm-factory-admin:
    container_name: tdm-factory-dev-admin
    image: node:20.19.5-bullseye-slim
    environment:
      NODE_ENV: development
    ports:
      - "5174:5174"
    volumes:
      - ./tdm-admin:/app
    working_dir: /app
    command: npm run dev
    networks:
      - tdm-factory-network

  tdm-factory-maildev:
    container_name: tdm-factory-dev-maildev
    image: maildev/maildev
    ports:
      - "1025:1025"
      - "1080:1080"
    networks:
      - tdm-factory-network

networks:
  tdm-factory-network:
    driver: bridge
    name: tdm-factory-network
