#processing-form {
  margin-top: 40px;
  #processing-form-content {
    margin-top: 40px;
    margin-right: 10%;
    margin-left: 10%;

    #processing-form-navigation {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
    }

    #processing-form-navigation > button:first-child {
      margin-right: auto;
    }
  }
}
