@use "../../scss/colors";

#processing-form {
  min-height: 275px;
  margin: 40px;

  h1 {
    margin-bottom: 16px;
    font-size: 2em;
    color: colors.$blue;
  }

  h2 {
    margin-bottom: 32px;
    font-size: 1.5em;
    color: colors.$grey;
  }

  .processing-form-layout {
    display: flex;
    gap: 48px;

    .stepper-container {
      flex: 0 0 auto;
      padding: 24px;
    }

    #processing-form-content {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 870px;
      height: auto;
      padding: 32px;
      background-color: colors.$very-light-blue;
      border-radius: 8px;
    }
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 0;
  padding-bottom: 30px;
  .back-button {
    margin-bottom: 0;
  }
  * {
    margin: 0;
  }
}

#processing-form-navigation {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: calc(100% - 64px);
  button {
    background-color: #f5f5f5;
    &:hover {
      color: colors.$white;
      background-color: colors.$blue;
      border-color: colors.$blue;
    }
  }
}
