Bonjour,

Vous trouverez dans ce mail le résultat du traitement {{ processingId }} « {{ originalName }} ».

Vous trouverez le résultat de votre traitement en suivant ce lien : {{ resultFile }}

Voici un récapitulatif des informations liées à ce traitement :

- Id du traitement : {{ processingId }}
- Nom du fichier d'origine : {{ originalName }}
- Convertisseur : {{ wrapper }}
- Paramètre du convertisseur : {{ wrapperParam }}
- Enrichissement : {{ enrichment }}


Service IA Factory,
Merci de ne pas répondre.
