@use "../../../scss/colors";

.processing-form-stepper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border: solid colors.$grey 2px;
  border-radius: 50%;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: colors.$grey;
  }

  &.processing-form-stepper-icon-active {
    color: colors.$white;
    background-color: colors.$blue;
    border-color: colors.$blue;

    p {
      color: colors.$white;
    }
  }
}

/* stylelint-disable selector-class-pattern */
.MuiStepper-vertical {
  padding: 24px 0 !important;
}

.MuiStep-root {
  margin-bottom: 0 !important;
}

.MuiStepLabel-root {
  padding: 0 !important;
}

.MuiStepLabel-label {
  font-family: Montserrat, sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #8f8f8f !important;

  &.Mui-completed {
    font-weight: 500 !important;
    color: #4a4a4a !important;
  }

  &.Mui-active {
    font-weight: 700 !important;
    color: #4a4a4a !important;
  }
}

.MuiStepConnector-root {
  margin-left: 24px;

  .MuiStepConnector-line {
    border-color: colors.$grey;
  }

  &.Mui-active,
  &.Mui-completed {
    .MuiStepConnector-line {
      border-color: colors.$blue;
    }
  }
}

.MuiStepConnector-vertical {
  margin-left: 24px !important;
}

.MuiStepConnector-lineVertical {
  min-height: 20px !important;
  border-left-width: 2px !important;
}
/* stylelint-enable selector-class-pattern */
