.processing-form-field {
  margin-top: 0;
  margin-bottom: 0;
}

.processing-form-field-with-label {
  display: flex;
  flex-direction: column;

  .processing-form-field-label {
    min-height: 22px;
    margin: 2px 8px 0;
  }
}

#processing-form h1 {
  padding-bottom: 20px;
  color: #3a3a3a;
}

#processing-form h2 {
  color: #4e4e4e;
}
