@import "../../../scss/colors";

.form-content:has(.processing-form-field-group) {
  padding-bottom: 50px;
}

.processing-form-field-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 8px;
  margin-bottom: 24px;
  border: 2px dashed transparent;
  border-radius: 4px;
  transition: all .3s ease;

  h3 {
    font-family: "Open Sans", sans-serif !important;
    font-size: 15px;
    font-weight: 700;
    color: var(--dark-black);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .MuiFormLabel-root {
    padding-top: 2px;
    line-height: 1.2;
  }

  &.dragging {
    background-color: rgba($blue, .05);
    border-color: $blue;
    box-shadow: 0 0 10px rgba($blue, .2);
    transform: scale(1.01);
    animation: pulse 1.2s infinite;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($blue, .4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba($blue, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($blue, 0);
  }
}

.processing-form-field-with-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#processing-form-wrapper-label {
  position: relative;
  padding-left: 16px;

  #processing-form-wrapper-label-style {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    margin-left: 16px;
    background-color: #e0e0e0;
  }
}

#processing-form-wrapper-param {
  padding-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;

  #processing-form-wrapper-param-style {
    display: none;
    height: 36px;
    margin-top: -8px;
    margin-left: 12px;
    border-bottom: solid #bdbdbd 1px;
    border-bottom-left-radius: 8px;
  }
}

.processing-form-field-label {
  color: rgba(0, 0, 0, .6);
}
