@use "./scss/colors";

/*
  Note: The app can't render properly under 500px
*/

body {
  min-height: 100vh;
  margin: 0;
  background-color: colors.$white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  transition: color .2s ease;

  &:hover {
    color: var(--very-dark-blue);
  }
}

#app-container {
  flex: 1;
}

.text {
  color: colors.$light-black;
}

.error {
  color: colors.$red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  color: colors.$light-black;
}

/* Wrapper : position du bouton */
.help-button-wrapper {
  position: fixed;
  bottom: 15px;
  right: 40px;
  z-index: 20;
}

/* Bouton principal */
.help-button {
  display: inline-flex;
  align-items: center;
  background-color: #a9bb1e; /* vert foncé */
  color: #fff;
  text-decoration: none;
  padding: 5px 25px;

  &:hover, :focus-visible {
    background-color: #96a61a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
}

/* Icône */
.help-button-icon {
  width: 20px;
  height: 20px;
  padding: 11px;
  background-color: #c4d733 ;
  margin-left: -40px;
  margin-right: 3px;
  z-index: 21;
  position: relative;
}

/* Texte */
.help-button-text {
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
}

@media only screen and (max-width: 900px) {
  .help-button-wrapper{
    transform: translate(55px);
    min-width: 40px;

      &:hover, 
      :focus-visible {
        background-color: none;
        color: #fff;
    }
  }

  .help-button{
    background-color: transparent;

    &:hover, 
    :focus-visible {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .help-button-text{
    display: none;
  }
}