@import "src/app/scss/colors";

/*
  Note: The app can't render properly under 500px
*/

body {
  min-height: 100vh;
  margin: 0;
  background-color: $white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  transition: color .2s ease;

  &:hover {
    color: var(--very-dark-blue);
  }
}

#app-container {
  flex: 1;
}

.text {
  color: $light-black;
}

.error {
  color: $red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  color: $light-black;
}
