IA Factory - Notification de création

Bonjour,

Votre traitement a été démarré avec succès. Vous pouvez suivre son statut en visitant : {{ statusPage }}

Récapitulatif du traitement :
- Id du traitement : {{ processingId }}
- Nom du fichier d'origine : {{ originalName }}
- Convertisseur : {{ wrapper }}
- Paramètre du convertisseur : {{ wrapperParam }}
- Enrichissement : {{ enrichment }}

Service IA Factory
Merci de ne pas répondre.