Bonjour,

Vous trouverez dans ce mail un rapport d'erreur du traitement {{ processingId }} « {{ originalName }} ».

{{ errorMessage }}

Voici un récapitulatif des informations liées à ce traitement :

- Id du traitement : {{ processingId }}
- Nom du fichier d'origine : {{ originalName }}
- Wrapper : {{ wrapper }}
- Paramètre du wrapper : {{ wrapperParam }}
- Enrichissement : {{ enrichment }}


Service IA Factory,
Merci de ne pas répondre.