Bonjour,

Vous trouverez dans ce mail les information lié a la création du traitement {{ processingId }} « {{ originalName }} ».

Voici un répicatulatif des information lié a ce traitement :

- Id du traitement : {{ processingId }}
- Nom du fichier d'origine : {{ originalName }}
- Wrapper : {{ wrapper }}
- Paramettre du wrapper : {{ wrapperParam }}
- Enrichment : {{ enrichment }}


Service IA Factory,
Merci de ne pas répondre.