@use "../../../scss/colors";

#footer {
  background-color: #fff;

  &::before {
    display: block;
    width: 100%;
    height: .5rem;
    content: "";
    background: linear-gradient(to right, #458ca5 50%, #c4d733);
  }

  #footer-container {
    padding: 24px;

    ul {
      padding: 0;
      margin: -16px 0 0 -16px;
      list-style: none;
    }

    .footer-collaborator {
      position: relative;
      width: 128px;
      min-height: 100px;
      margin: auto;

      a {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .footer-bottom-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      margin-top: 20px;
    }

    #footer-opere-par-inist {
      grid-column: 2;
      padding: 0;
      text-align: center;

      img {
        display: inline-block;
        width: 120px;
        height: auto;
        object-fit: contain;
      }
    }
  }
}

#footer-privacy-policy {
  display: flex;
  grid-column: 1;
  justify-content: flex-start;
}

.footer-spacer {
  grid-column: 3;
}

@media (max-width: 768px) {
  .footer-bottom-row {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr !important;
    gap: 20px;
  }
  #footer-privacy-policy {
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
  }
  #footer-opere-par-inist {
    grid-row: 1;
    grid-column: 1 !important;
  }
  .footer-spacer {
    display: none;
  }
}
