@import "../../../scss/colors";

#ws-description {
  max-width: 1000px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  font-size: .85em;
  text-align: justify;

  p {
    padding: 0;

    li {
      margin-top: 2px;
    }
  }
}
