@import "../../../scss/colors";

#ws-header {
  width: 50%;
  max-width: 650px;
  padding-top: 72px;
  padding-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  #ws-header-title {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }

  #ws-header-content {
    margin: 0;
    font-size: .75em;

    ul {
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
      text-align: justify;

      li {
        width: fit-content;
      }
    }
  }
}
