$very-dark-green: var(--very-dark-green) !default;
$dark-green: var(--dark-green) !default;
$light-green: var(--light-green) !default;
$very-light-green: var(--very-light-green) !default;
$blue: var(--blue) !default;
$variant-blue: var(--variant-blue) !default;
$light-blue: var(--light-blue) !default;
$very-light-blue: var(--very-light-blue) !default;
$light-red: var(--light-red) !default;
$grey: var(--grey) !default;
$light-grey: var(--light-grey) !default;
$dark-black: var(--dark-black) !default;
$light-black: var(--light-black) !default;
$very-light-black: var(--very-light-black) !default;
$red: var(--red) !default;
$white: var(--white) !default;
